<div class="col-md-5 col-md-offset-4" ng-controller="TeamController">
            <h2>List Teams</h2>
        </div>
        <div class="col-md-2 col-md-offset-8">
            <button type="button" class="btn btn-primary" ng-click="open()">Add Team</button>
        </div>
        <div class="col-md-7 col-md-offset-3" >
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>NAME</td>
                        <td>Tournament</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center" ng-repeat="team in teams">
                        <td>{{team.id}}</td>
                        <td><a href="#player">{{team.name}}</a></td>
                        <td>{{team.tournament2.name}}</td>
                        <td>
                            <i class="fa fa-pencil-square-o" ng-click="open(team.id)"></i>&nbsp;&nbsp;
                            <i class="fa fa-trash-o" ng-click="deleteTT(team.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>	
        </div>