<div class="modal-header">
	<h3 class="modal-title">{{action}} Match</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<table class="table" ng-form name="myForm">
				<tr>
					<td>Name</td>
					<td>
						<input type="text" name="tournament.name" ng-model="tournament.name" placeholder="Input name match" required />
					</td>
				</tr>
				<tr>
					<td>Result</td>
					<td><input type="number" ng-model="tournament.number"
						placeholder="Input result" />
						
						</td>
				</tr>
				<tr>
					<td>Score</td>
					<td><input type="text" ng-model="tournament.createDate"
						placeholder="input score" /></td>
				</tr>
				<tr>
					<td>Time Match</td>
					<td><input type="time" ng-model=""></td>
				</tr>
				<tr>
					<td>Location</td>
					<td>
						<select class="btn btn-default" ng-model="tournament.typetournament.id">
							<option ng-repeat="typetournament in typetournaments" value="{{typetournament.id}}" ng-model="tournament.typetournament.id">
								{{typetournament.name}}
							</option>
						</select>
					</td>
				<tr>
					<td>Team 1</td>
					<td>
						<select class="btn btn-default" ng-model="tournament.user.id">
							<option ng-repeat="user in users" value="{{user.id}}" ng-model="tournament.user.id">
								{{user.username}}
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Team 2</td>
					<td>
						<select class="btn btn-default" ng-model="tournament.user.id">
							<option ng-repeat="user in users" value="{{user.id}}" ng-model="tournament.user.id">
								{{user.username}}
							</option>
						</select>
					</td>
				</tr>

			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>