<div class="modal-header">
	<h3 class="modal-title">{{action}} Tournaments</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<table class="table" ng-form name="myForm">
				<tr>
					<td>Name</td>
					<td>
						<input type="text" name="tournament.name" ng-model="tournament.name" placeholder="Input name tournaments" required />
					</td>
				</tr>
				<tr>
					<td>Number</td>
					<td><input type="text" ng-model="tournament.number"
						placeholder="Input number team" />
						
						</td>
				</tr>
				<tr>
					<td>Date</td>
					<td><input type="date" ng-model="tournament.createDate"
						placeholder="input date" /></td>
				</tr>
				<tr>
					<td>game</td>
					<td>
						<select ui-select2 class="btn btn-default" ng-model="tournament.game.id">
							
							<option ng-repeat="game in games" value="{{game.id}}" ng-model="tournament.game.id">
								{{game.name}}
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>typetournament</td>
					<td>
						<select class="btn btn-default" ng-model="tournament.typetournament.id">
							<option ng-repeat="typetournament in typetournaments" value="{{typetournament.id}}" ng-model="tournament.typetournament.id">
								{{typetournament.name}}
							</option>
						</select>
					</td>
				<tr>
					<td>User</td>
					<td>
						<select class="btn btn-default" ng-model="tournament.user.id">
							<option ng-repeat="user in users" value="{{user.id}}" ng-model="tournament.user.id">
								{{user.username}}
							</option>
						</select>
					</td>
				</tr>

			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>