<div class="modal-header">
	<h3 class="modal-title">Players</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<p class="class="text-primary">{{team.name}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			 <table class="table table-bordered text-center">
	                <thead>
	                    <tr>
	                        <td>ID</td>
	                        <td>NAME</td>
	                        <td>Sex</td>
	                        <td>Address</td>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr style="text-align:center" ng-repeat="player in players">
	                        <td>{{player.id}}</td>
	                        <td>{{player.name}}</td>
	                        <td>{{player.sex}}</td>
	                        <td>{{player.address}}</td>
	                    </tr>
	                </tbody>
                </table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>