
<div class="modal-header">
	<h3 class="modal-title">{{action}} Teams</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			 <table class="table table-bordered text-center">
	                <thead>
	                    <tr>
	                        <td>ID</td>
	                        <td>NAME</td>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr style="text-align:center">
	                        <td>{{team.id}}</td>
	                        <td><input type="text" ng-model="team.name"/></td>
	                    </tr>
	                </tbody>
                </table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>