<div class="col-md-5 col-md-offset-4" ng-controller="TournamentController">
            <h2>List Tournaments</h2>
        </div>
        <div class="col-md-4 col-md-offset-7">
        	<input type="text" ng-model="tournament.name" placeholder="Find by name tournament">
            <button type="button" class="btn btn-primary" ng-click="open()">Add Tournament</button>
<!--             <button type="button" class="btn btn-primary" ng-click="addMatchs()">Add Match</button> -->
        </div>
        <div class="col-md-7 col-md-offset-3" >
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>NAME</td>
                        <td>Team Number</td>
                        <td>Create Date</td>
                        <td>Game</td>
                        <td>Type Tournament</td>
<!--                         <td>User</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center" ng-repeat="tournament in tournaments | filter : tournament.name">
                        <td><a ng-click="deleteT(tournament.id)" >{{tournament.id}}</a></td>
                        <td><a ng-click="open(tournament.id)">{{tournament.name}}</a></td>
                        <td><a ng-click="openteam(tournament.id)">{{tournament.number}}</a></td>
                        <td>{{tournament.createDate}}</td>
                        <td>{{tournament.game.name}}</td>
                        <td>{{tournament.typetournament.name}}</td>
<!--                         <td>{{tournament.user.username}}</td> -->
                    </tr>
                </tbody>
            </table>	
        </div>
        <div class="col-md-4 col-md-offset-4">
        	{{t.name}} <input type="text" ng-model="team.name" placeholder="Find by team">
        </div>
        <div class="col-md-4 col-md-offset-4">
        	
        	<table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>NAME</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center" ng-repeat="team in teams | filter: team.name">
                        <td>{{team.id}}</td>
                        <td><a ng-click="openplayer(team.id)">{{team.name}}</a></td>
                        <td><i class="fa fa-pencil-square-o" ng-click="openteamdedit(team.id)"></i></td>
                    </tr>
                </tbody>
            </table>	
        </div>