<form role="form">
	<div class="row" ng-controller="createUser">
		<div class="col-md-3 col-md-offset-4">
				<input type="text" class="form-control" placeholder="Input Username"/><br/>
				<input type="text" class="form-control" placeholder="Input password"/><br/>
				<input type="text" class="form-control" placeholder="Input paswsord"/><br/>
		</div><br/>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-5">
			<button type="button" class="btn btn-primary">Signup</button>
			<button type="button" class="btn btn-primary">Cancel</button>
		</div>
	</div>
</form>u