<form role="form">
	<div class="row" ng-controller="loginUser">
		<div class="col-md-3 col-md-offset-4">
				<input type="text" class="form-control" placeholder="Input Username"/><br/>
				<input type="text" class="form-control" placeholder="Input Password"/><br/>
		</div><br/>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-5">
			<button type="button" class="btn btn-primary">Login</button>
			<button type="button" class="btn btn-primary">Cancal</button>
		</div>
	</div>
</form>