<div ng-controller="showTournament">
	<div class="row">
		<div class="col-md-5 col-md-offset-4">
			<h2>Danh Sách Các Giải Đấu</h2>
		</div>
		<div class="col-md-2 col-md-offset-8">
			<button type="button" class="btn btn-primary" ng-click="showAddTournament()">Thêm giải đấu</button>
		</div>
		<div class="col-md-5 col-md-offset-4">
			<table class="table">
				<thead>
					<tr style="text-align:center">
						<th>ID</th>
						<th>NAME</th>
						<th>Team Number</th>
						<th>Create Date</th>
						<th>Game</th>
						<th>Type Tournament</th>
						<th>User</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align:center" ng-repeat="tournament in tournaments">
						<td>{{tournament.id}}</td>
						<td>{{tournament.name}}</td>
						<td>{{tournament.number}}</td>
						<td>{{tournament.createDate}}</td>
						<td>{{tournament.game.name}}</td>
						<td>{{tournament.typetournament.name}}</td>
						<td>{{tournament.user.username}}</td>
						<td>
							<i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;
							<i class="fa fa-trash-o"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>